Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-push, pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff
        name: ruff linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

      - id: django-migrations
        name: Check django migrations
        entry: python manage.py makemigrations --check --no-input
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: Prettier formatter
        entry: bash -c 'cd frontend && yarn prettier --write .'
        language: system
        files: frontend/.*
        pass_filenames: false

      - id: eslint
        name: ESLint linter
        stages: [pre-push, pre-commit]
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        types_or: [javascript, ts, vue]
        files: frontend/.*
        pass_filenames: false

exclude d.ts files from prettier
  frontend/.prettierrc.js
Due: prettier, eslint

add api and frontend for validation-core display
  apps/validations/serializers.py
  apps/validations/tests/test_validation.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/urls.py
  apps/validations/views.py
  config/celery_conf.py
  frontend/src/components.d.ts
  frontend/src/components/IsoDateTime.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/history.vue
  frontend/src/pages/index.vue
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

update .prettierignore
  frontend/src/.prettierignore
Due: prettier

move tasks to the appropriate apps
  apps/counter/management/commands/download_registry.py
  apps/counter/tasks.py
  apps/counter/tests/test_registry.py
  apps/validations/enums.py
  apps/validations/models.py
  apps/validations/tasks.py
  apps/validations/tests/test_validation.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

update yarn lock
  frontend/.prettierrc.js
  frontend/src/.prettierignore
  frontend/yarn.lock
Due: prettier, eslint

fix ts problem with table headers
  frontend/src/components/ValidationCoreTable.vue
Due: prettier, eslint

fix tests
  apps/validations/models.py
  apps/validations/tests/test_validation.py
Due: ruff-format, ruff, pytestnow, django-migrations

sort platform in selector
  frontend/src/components/FilePicker.vue
  frontend/src/components/ValidationStatus.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/platform.ts
Due: prettier, eslint

extract COP version and report code from validation result
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationTable.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add stats to core display; add file size to validation table
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components.d.ts
  frontend/src/components/StatsChip.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix some TS issues
  frontend/src/components.d.ts
  frontend/src/components/FileUploader.vue
  frontend/src/components/StatsChip.vue
  frontend/src/lib/definitions/api.ts
Due: prettier, eslint

add version into the api URL
  config/urls.py
  frontend/src/lib/http/util.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

guard against exceptions when calling external validator; add error_message
  apps/validations/migrations/0002_validationcore_error_message.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationStatus.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

periodic reload of unfinished validations in the ValidationTable.vue
  frontend/src/components.d.ts
  frontend/src/components/ValidationTable.vue
  frontend/src/pages/index.vue
  frontend/src/pages/validation/index.vue
Due: prettier, eslint

added a pie-chart based visualization of validation stats
  apps/validations/serializers.py
  frontend/src/components.d.ts
  frontend/src/components/SimplePie.vue
  frontend/src/components/StatsPie.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix ts issues
  frontend/src/components/SimplePie.vue
  frontend/src/components/StatsPie.vue
Due: prettier, eslint

small tweaks of stats pie
  frontend/src/components/SimplePie.vue
  frontend/src/components/StatsPie.vue
Due: prettier, eslint

distinguish between manual and api-key based validations; tweak the theme a little bit
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationTable.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/styles/settings.scss
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add tests for the api-key endpoint
  apps/core/fake_data.py
  apps/core/tests/test_api.py
  apps/core/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

add tests for the platform endpoint
  apps/counter/tests/test_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

exclude tools from coverage calculation
  .coveragerc
Due: none

move api_key_prefix from validation to validationcore
  apps/validations/migrations/0004_remove_validation_api_key_prefix_and_more.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

add API-key access to file upload; add simple CLI client for file validation
  apps/conftest.py
  apps/core/permissions.py
  apps/validations/migrations/0003_remove_validation_api_key_validation_api_key_prefix.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  poetry.lock
  pyproject.toml
  tools/validate_file.py
Due: ruff-format, ruff, pytestnow, django-migrations

fix redis in tests
  .gitlab/run-tests.yml
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

implement throttling on API-Key based requests
  apps/core/throttling.py
  apps/validations/tests/test_validation_api.py
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

wip on sushi
  apps/validations/hashing.py
  apps/validations/migrations/0003_counterapivalidation.py
  apps/validations/models.py
Due: ruff-format, ruff, pytestnow, django-migrations

more wip on sushi
  apps/counter/fake_data.py
  apps/counter/logic/__init__.py
  apps/counter/logic/dates.py
  apps/validations/fake_data.py
  apps/validations/migrations/0003_counterapivalidation.py
  apps/validations/migrations/0005_counterapivalidation.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/urls.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

fe wip on sushi
  frontend/package.json
  frontend/src/components.d.ts
  frontend/src/components/MonthPicker.vue
  frontend/src/components/NewSushiValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/counter.ts
  frontend/src/pages/index.vue
  frontend/yarn.lock
Due: prettier, eslint

more wip on counter API validations
  apps/validations/fake_data.py
  apps/validations/hashing.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components.d.ts
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/datetime.ts
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/index.vue
  frontend/src/pages/validation/api.vue
  frontend/src/pages/validation/sushi.vue
  frontend/src/typed-router.d.ts
  test_data/reports/50-Sample-TR.json
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

ts fixes
  frontend/src/components.d.ts
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

more wip on sushi validation
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/pages/index.vue
  frontend/src/pages/validation/index.vue
Due: prettier, eslint

fix media files leaking from tests
  apps/validations/tasks.py
  config/settings/test.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

add link to the original file to validations
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  config/urls.py
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/lib/definitions/api.ts
  frontend/vite.config.mts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add vite-dev-tools-plugin
  frontend/package.json
  frontend/vite.config.mts
  frontend/yarn.lock
Due: prettier, eslint

nicer sushi validation last step; add support for displaying notifications to user
  apps/validations/views.py
  frontend/src/App.vue
  frontend/src/components/FilePicker.vue
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/notifications.ts
  frontend/src/stores/app.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

middleware for delays in dev; distinguish between sushi and file validations
  apps/core/middleware.py
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  config/settings/base.py
  config/settings/devel.py
  frontend/src/components.d.ts
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

wip on message model
  apps/validations/models.py
Due: ruff-format, ruff, pytestnow, django-migrations

wip on storing messages separately from validation
  apps/validations/fake_data.py
  apps/validations/migrations/0006_validationmessage.py
  apps/validations/models.py
  apps/validations/tasks.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

fixes
  apps/validations/tasks.py
  apps/validations/tests/test_models.py
Due: ruff-format, ruff, pytestnow, django-migrations

messages in backend done
  apps/validations/fake_data.py
  apps/validations/migrations/0006_validationmessage.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/urls.py
  apps/validations/views.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations
