Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

ruff-format:
  name: ruff formatter
  entry: ruff format
  language: system

ruff:
  name: ruff linter
  entry: ruff check --fix
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

django-migrations:
  name: Check django migrations
  entry: python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

prettier:
  name: Prettier formatter
  entry: bash -c 'cd frontend && yarn prettier --write .'
  language: system
  pass_filenames: false

eslint:
  name: ESLint linter
  stages:
  - pre-push
  - pre-commit
  entry: bash -c 'cd frontend && yarn lint'
  language: system
  pass_filenames: false

add public part of the UI + password reset functionality
  apps/core/account.py
  apps/core/templates/registration/password_reset_message.html
  apps/core/templates/registration/password_reset_subject.txt
  apps/core/tests/test_api.py
  apps/core/tests/test_models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  config/settings/base.py
  config/urls.py
  frontend/src/App.vue
  frontend/src/components.d.ts
  frontend/src/components/FilePicker.vue
  frontend/src/components/LoginPage.vue
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/PasswordResetWidget.vue
  frontend/src/components/UserForm.vue
  frontend/src/components/UserTable.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/http/auth.ts
  frontend/src/lib/login.ts
  frontend/src/pages/index.vue
  frontend/src/pages/login.vue
  frontend/src/pages/register.vue
  frontend/src/pages/reset-password.vue
  frontend/src/pages/validation/index.vue
  frontend/src/plugins/vuetify.ts
  frontend/src/stores/app.ts
  frontend/src/typed-router.d.ts
  poetry.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

unify how data_source is computed
  apps/validations/serializers.py
Due: ruff-format, ruff, pytestnow, django-migrations

when validating counter API, take the initial cop_version from the request
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

add generic mechanism to show login requirement in views requiring login
  frontend/src/layouts/default.vue
  frontend/src/pages/index.vue
  frontend/src/pages/login.vue
  frontend/src/pages/public/[public_id].vue
  frontend/src/pages/register.vue
  frontend/src/pages/reset-password.vue
  frontend/vite.config.mts
Due: prettier, eslint

fix permissions to view stats and messages of public validations
  apps/conftest.py
  apps/validations/filters.py
  apps/validations/permissions.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationMessageStatsTable.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/layouts/default.vue
  frontend/src/pages/public/[public_id].vue
  frontend/src/pages/validation/[id].vue
  frontend/src/plugins/vuetify.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

change session cookie name
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

set package-mode=false in poetry
  poetry.lock
  pyproject.toml
Due: none

add forgotten STATIC_ROOT setting
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

add manage command to test validation module
  apps/validations/management/__init__.py
  apps/validations/management/commands/__init__.py
  apps/validations/management/commands/check_worker_modules.py
Due: ruff-format, ruff, pytestnow, django-migrations

fix hard to track issue when loading data
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/util.ts
Due: prettier, eslint

build development builds with sourcemaps
  .gitlab/build-vue.yml
  frontend/vite.config.mts
Due: prettier, eslint

use fluid container for validation lists
  frontend/src/components/ValidationManagementWidget.vue
  frontend/src/pages/history.vue
  frontend/src/pages/stats.vue
Due: prettier, eslint

fix error of missing data_source for file validations
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

fix error in user creation
  frontend/src/components/UserEditWidget.vue
Due: prettier, eslint

make admin path adjustable through env
  config/settings/base.py
  config/urls.py
Due: ruff-format, ruff, pytestnow, django-migrations

small user edit dialog look tweak
  frontend/src/components/UserEditWidget.vue
  frontend/src/components/UserTable.vue
Due: prettier, eslint

fix: properly update attributes to show in new validation when CoP changes
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

add mailgun and other email related stuff
  config/settings/base.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

update poetry.lock
  poetry.lock
Due: none

refactor, improve and fix the signup/login/password reset dialogs
  frontend/src/components.d.ts
  frontend/src/components/LoginDialog.vue
  frontend/src/components/LoginPage.vue
  frontend/src/components/PasswordResetWidget.vue
  frontend/src/components/RequestPasswordResetDialog.vue
  frontend/src/components/SignupDialog.vue
  frontend/src/lib/formRules.ts
  frontend/src/lib/http/auth.ts
  frontend/src/lib/http/util.ts
Due: prettier, eslint

add email verification dialog + add info about verification into the user endpoint
  apps/core/models.py
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/views.py
  frontend/src/lib/http/auth.ts
  frontend/src/pages/verify-email.vue
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

split user serializer to two versions to save some queries
  apps/core/serializers.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

guard validation endpoints against being used by users without email verification
  apps/conftest.py
  apps/core/fake_data.py
  apps/core/permissions.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

use info about email verification in the UI, allow resend of verification email
  frontend/src/App.vue
  frontend/src/components/UserForm.vue
  frontend/src/components/ValidationManagementWidget.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/auth.ts
  frontend/src/pages/verify-email.vue
  frontend/src/stores/app.ts
Due: prettier, eslint

make sure user can update his/her email and that it properly handles email verification
  apps/core/models.py
  apps/core/tests/test_api.py
  apps/core/views.py
  frontend/src/lib/http/auth.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

feature: add option to use either short (YYYY-MM) or long (YYYY-MM-DD) date formatting for begin and end dates
  apps/validations/fake_data.py
  apps/validations/migrations/0016_counterapivalidation_use_short_dates.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_validation_api.py
  frontend/package.json
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/formatting.ts
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

show thumbs-up instead of stats when the validation passed without any message
  frontend/src/components/ValidationDetailWidget.vue
Due: prettier, eslint

fix: fix periodic check of unfinished validations in the validation tables
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add periodic check of unfinished validations to validation history; fix multiple requests in ValidationCoreTable.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
Due: prettier, eslint

small refactoring
  frontend/src/pages/settings.vue
Due: prettier, eslint

fix error causing "good job" being always shown
  frontend/src/components/ValidationDetailWidget.vue
Due: prettier, eslint

move CoP selection for new API validations to the first step; serialize sushi services directly with platform detail
  apps/counter/classes/registry.py
  apps/counter/fake_data.py
  apps/counter/serializers.py
  apps/counter/tests/test_api.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/platform.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

make silk optional using .env in devel settings
  config/settings/devel.py
Due: ruff-format, ruff, pytestnow, django-migrations

remove debug output from NewCounterAPIValidation.vue
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

feature: make it possible to base a new API validation on an existing one
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ShortenText.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/formatting.ts
Due: prettier, eslint

features:
  apps/core/account.py
  apps/core/apps.py
  apps/core/signals.py
  apps/core/tasks.py
  apps/core/templates/registration/invitation_email.html
  apps/core/templates/registration/invitation_subject.txt
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
  frontend/src/components/UserTable.vue
  frontend/src/lib/http/auth.ts
  frontend/src/lib/http/users.ts
  frontend/src/pages/accept-invitation.vue
  frontend/src/plugins/vuetify.ts
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

make it possible to invite directly from user create dialog
  frontend/src/components/UserEditWidget.vue
  frontend/src/components/UserTable.vue
Due: prettier, eslint

make it possible to add notes to API validations
  apps/validations/fake_data.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add a task for expired validations cleanup + related celery beat config to run it each day
  apps/validations/models.py
  apps/validations/tasks.py
  celerybeat_devel.sh
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

implement version check against an upstream server; add About page with version info
  apps/core/tests/test_api.py
  apps/core/tests/test_libs.py
  apps/core/urls.py
  apps/core/version.py
  apps/core/views.py
  frontend/package.json
  frontend/src/App.vue
  frontend/src/layouts/default.vue
  frontend/src/pages/about.vue
  frontend/src/stores/app.ts
  frontend/src/stores/version.ts
  frontend/src/typed-router.d.ts
  frontend/yarn.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pytestnow: any of: \.py$
  django-migrations: any of: \.py$
  prettier: any of: frontend/.*
  eslint: any of: frontend/.* and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$
