Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

ruff-format:
  name: ruff formatter
  entry: ruff format
  language: system

ruff:
  name: ruff linter
  entry: ruff check --fix
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

django-migrations:
  name: Check django migrations
  entry: python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

prettier:
  name: Prettier formatter
  entry: bash -c 'cd frontend && yarn prettier --write .'
  language: system
  pass_filenames: false

eslint:
  name: ESLint linter
  stages:
  - pre-push
  - pre-commit
  entry: bash -c 'cd frontend && yarn lint'
  language: system
  pass_filenames: false

show upstream version on About page
  frontend/src/pages/about.vue
Due: prettier, eslint

higher timeout for checking upstream version
  apps/core/version.py
Due: ruff-format, ruff, pytestnow, django-migrations

add some fancy stuff to the home page; add different layout for public pages with information footer, apply it to home, login, etc.
  frontend/public/counter_logo_secondary.png
  frontend/src/layouts/public.vue
  frontend/src/pages/about.vue
  frontend/src/pages/accept-invitation.vue
  frontend/src/pages/index.vue
  frontend/src/pages/login.vue
  frontend/src/pages/register.vue
  frontend/src/pages/reset-password.vue
  frontend/src/pages/verify-email.vue
Due: prettier, eslint

add Raleway font to the app-bar to match the COUNTER website
  frontend/index.html
  frontend/src/layouts/public.vue
  frontend/src/styles/settings.scss
Due: prettier, eslint

reorganize sidebar to place settings and about to the bottom
  frontend/src/layouts/default.vue
Due: prettier, eslint

store filter settings in URL to allow back-button to work correctly; fix text search in validation history
  frontend/package.json
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/validationFiltering.ts
  frontend/yarn.lock
Due: prettier, eslint

fix sorting of validation tables after previous change
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

implement url param memory for ordering and pagination
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/paginatedAPI.ts
  frontend/src/composables/usePaginationWithMemory.ts
Due: prettier, eslint

implement validation result export into XLSX
  apps/validations/enums.py
  apps/validations/export.py
  apps/validations/management/commands/export_validation.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  config/settings/base.py
  frontend/public/counter-logo-new.png
  frontend/public/counter-logo-new.svg
  frontend/public/counter_logo_secondary_48.png
  frontend/public/counter_logo_secondary_48_plus.png
  frontend/public/counter_logo_secondary_64.png
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationExtractedInfo.vue
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix reload after delete broken in recent update
  frontend/src/components/ValidationManagementWidget.vue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

show better error message when too large a file is uploaded for validation
  frontend/src/components/FilePicker.vue
Due: prettier, eslint

show better error message when error 413 is returned by the backend (Content Too Large - caused by nginx on the way, not by the validation module itself)
  frontend/src/components/FilePicker.vue
Due: prettier, eslint

fix link target after unsuccessful data upload
  frontend/src/components/FilePicker.vue
Due: prettier, eslint

change 'apply filter' to 'see messages'
  frontend/src/components/ValidationMessageStatsTable.vue
Due: prettier, eslint

implement celery queue monitoring
  .gitlab/pre-commit.yml
  .gitlab/run-tests.yml
  apps/validations/celery_queue.py
  apps/validations/tests/test_celery_api.py
  apps/validations/tests/test_celery_queue.py
  apps/validations/urls.py
  apps/validations/views.py
  celery_devel.sh
  config/settings/base.py
  frontend/package.json
  frontend/src/components.d.ts
  frontend/src/components/StatsCard.vue
  frontend/src/components/ValidationQueueInfoWidget.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/public.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/stats.vue
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix: fix user_note being mistakenly mandatory for API validation
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

animate queue info auto-renewal in progress
  frontend/src/components/ValidationQueueInfoWidget.vue
Due: prettier, eslint

move less often used actions in UserTable.vue to a menu
  frontend/src/components/UserTable.vue
  frontend/src/pages/admin/users.vue
Due: prettier, eslint

add number of validations to the user table
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/views.py
  frontend/src/components/UserTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

implement locking of access to individual locking modules to ensure only one validation is running at a time
  README.md
  apps/validations/management/commands/check_worker_modules.py
  apps/validations/tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/validation_modules.py
  celery_devel.sh
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

implement check of versions between FE and BE and force reload of FE in case of mismatch
  frontend/package.json
  frontend/src/layouts/default.vue
  frontend/src/pages/about.vue
  frontend/src/stores/version.ts
  frontend/vite.config.mts
  frontend/yarn.lock
  pyproject.toml
Due: prettier, eslint

Implement user account deletion with superuser restrictions and add corresponding tests
  .pre-commit-config.yaml
  apps/core/tests/test_api.py
  apps/core/views.py
  frontend/src/components.d.ts
  frontend/src/components/DeleteAccountButton.vue
  frontend/src/components/UserForm.vue
  frontend/src/lib/http/auth.ts
  frontend/src/pages/settings.vue
  frontend/vite.config.mts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

implement per-file type file size limits for types CSV, XLSX and JSON
  .gitlab-ci.yml
  .gitlab/Dockerfile
  .gitlab/pre-commit.yml
  .gitlab/run-tests.yml
  apps/validations/serializers.py
  apps/validations/tests/test_serializers.py
  apps/validations/tests/test_validation_api.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
  test_data/reports/50-Sample-TR.csv
  test_data/reports/50-Sample-TR.tsv
  test_data/reports/50-Sample-TR.xlsx
Due: ruff-format, ruff, pytestnow, django-migrations

Add scheduled task to update registry models in Celery beat schedule
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

Add yarn.lock file for dependency management
  yarn.lock
Due: none

Add launch configuration for Django development server in VSCode
  .vscode/launch.json
Due: none

enhance validation statistics with user filtering capabilities; split queue monitoring from stats
  apps/validations/models.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/src/components/DoughnutChart.vue
  frontend/src/components/SplitStatsVisualization.vue
  frontend/src/components/ValidationQueueInfoWidget.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/users.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/monitoring.vue
  frontend/src/pages/stats.vue
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

Add changelog functionality with backend support and frontend components; include tests for changelog API
  CHANGELOG.md
  apps/core/changelog.py
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
  frontend/package.json
  frontend/src/components.d.ts
  frontend/src/components/ChangelogWidget.vue
  frontend/src/pages/changelog.vue
  frontend/src/typed-router.d.ts
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

change icon for monitoring
  frontend/src/layouts/default.vue
Due: prettier, eslint

Update version API to include upstream URL; enhance frontend display with a structured table for version information
  apps/core/tests/test_api.py
  apps/core/views.py
  frontend/src/pages/about.vue
  frontend/src/stores/version.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

bump version to 0.4.0
  frontend/package.json
  pyproject.toml
Due: prettier

Add version display to About page with frontend version information
  frontend/src/layouts/default.vue
Due: prettier, eslint

Add system info endpoint and user registration settings; update frontend to conditionally display registration options
  apps/core/account.py
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
  config/settings/base.py
  config/urls.py
  frontend/src/components/LoginPage.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/auth.ts
  frontend/src/pages/index.vue
  frontend/src/stores/app.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

Update README.md with project overview, technologies used, and development setup instructions
  README.md
Due: none

Remove default test URL in API Validation wizard
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

Add test for email notification to admins upon user registration
  apps/core/tests/test_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

Add open source information for the main page + add link to the Github repo
  frontend/src/pages/index.vue
Due: prettier, eslint

Add source repository information and link to GitHub on About page
  frontend/src/pages/about.vue
Due: prettier, eslint

fix user admnin expecting username
  apps/core/admin.py
Due: ruff-format, ruff, pytestnow, django-migrations

Add validation queue info endpoint access control and update worker count logic; enhance tests for queue info and access permissions
  apps/validations/tests/test_celery_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pytestnow: any of: \.py$
  django-migrations: any of: \.py$
  prettier: any of: frontend/.*
  eslint: any of: frontend/.* and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$
