Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-push, pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff
        name: ruff linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

      - id: django-migrations
        name: Check django migrations
        entry: python manage.py makemigrations --check --no-input
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: Prettier formatter
        entry: bash -c 'cd frontend && yarn prettier --write .'
        language: system
        files: frontend/.*
        pass_filenames: false

      - id: eslint
        name: ESLint linter
        stages: [pre-push, pre-commit]
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        types_or: [javascript, ts, vue]
        files: frontend/.*
        pass_filenames: false

small cleanup
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/pages/history.vue
Due: prettier, eslint

add expiration date to validation
  apps/validations/migrations/0009_validationcore_expiration_date.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  config/settings/base.py
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/pages/validation/[id].vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

implement changes from call
  apps/counter/migrations/0002_alter_platform_options.py
  apps/counter/models.py
  frontend/src/components.d.ts
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/StatsPie.vue
  frontend/src/components/StatsTableSimple.vue
  frontend/src/components/ValidationStatus.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/counter.ts
  frontend/src/plugins/vuetify.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix ts issue
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

add basic filtering and order-by functionality to validations display; use server side pagination
  apps/validations/fake_data.py
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

remove unused import
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

fix tests after adding pagination
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

add cop and report_code filters
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/counter.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add more filters to the validations list
  apps/validations/filters.py
  apps/validations/models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/definitions/counter.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix ts issue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

add pagination to validation core table
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add relevant filters to validation core list api
  apps/validations/filters.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

move api_endpoint into the validation core model
  apps/validations/fake_data.py
  apps/validations/filters.py
  apps/validations/migrations/0010_remove_counterapivalidation_api_endpoint_and_more.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

add filters to validation core ui using a composable; use the same composable for validation list
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/validationFiltering.ts
  frontend/src/lib/http/validation.ts
Due: prettier, eslint

extract ValidationFilterSet.vue component
  frontend/src/components.d.ts
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

make message factory more robust by using sequence for numbers
  apps/validations/fake_data.py
Due: ruff-format, ruff, pytestnow, django-migrations

adjust filter column sizes for all different viewports
  frontend/src/components/ValidationFilterSet.vue
Due: prettier, eslint

fix tests after data fake cock-up
  apps/validations/fake_data.py
Due: ruff-format, ruff, pytestnow, django-migrations

add public_id to the model and api
  apps/validations/migrations/0011_validation_public_id.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add public link stuff to the UI
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/urls.py
  apps/validations/views.py
  frontend/src/components.d.ts
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationStatus.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/public/[public_id].vue
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

change how publishing/unpublishing of a result is called; small cleanup
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/SplitStatsVisualization.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: prettier, eslint

remove platform and platform_name in favor of user_note
  apps/validations/fake_data.py
  apps/validations/filters.py
  apps/validations/migrations/0012_remove_validationcore_platform_and_more.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/src/components.d.ts
  frontend/src/components/FilePicker.vue
  frontend/src/components/ShortenText.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/definitions/upload.ts
  frontend/src/lib/http/validation.ts
  tools/validate_file.py
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

only throttle POST requests, not GET
  apps/core/throttling.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

implement filtering by published/shared
  apps/validations/filters.py
  apps/validations/models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/validationFiltering.ts
  frontend/src/lib/options.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

make published filter optional / don't show it for cores
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

add text search in user_note
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/validationFiltering.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

small change in user_note search
  frontend/src/components/ValidationFilterSet.vue
Due: prettier, eslint

add forgotten migration
  apps/validations/migrations/0013_alter_validation_public_id.py
Due: ruff-format, ruff, pytestnow, django-migrations

rework how filters are sized in ValidationFilterSet.vue
  frontend/src/components/ValidationFilterSet.vue
Due: prettier, eslint

small ui tweaks - adds v-card around table in validation detail
  frontend/src/components/ShortenText.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationMessagesTable.vue
Due: prettier, eslint

add is_validator_admin to user model, create access to all validations for validator admin
  apps/conftest.py
  apps/core/fake_data.py
  apps/core/migrations/0002_user_is_validator_admin.py
  apps/core/models.py
  apps/core/permissions.py
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/src/components/ValidationTable.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/lib/vuetifyTypes.ts
  frontend/src/pages/validation/admin.vue
  frontend/src/typed-router.d.ts
  poetry.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

make sure api_endpoint is empty for file validations
  apps/validations/migrations/0014_alter_validationcore_api_endpoint.py
  apps/validations/models.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

add api and UI for user management
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/urls.py
  apps/core/views.py
  apps/validations/tests/test_models.py
  config/settings/base.py
  frontend/package.json
  frontend/src/components.d.ts
  frontend/src/components/UserEditWidget.vue
  frontend/src/components/UserTable.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/users.ts
  frontend/src/lib/http/util.ts
  frontend/src/pages/admin/users.vue
  frontend/src/plugins/index.ts
  frontend/src/typed-router.d.ts
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

move user from validation to validation core to allow user history preservation
  apps/conftest.py
  apps/core/models.py
  apps/core/permissions.py
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/core/views.py
  apps/validations/admin.py
  apps/validations/fake_data.py
  apps/validations/filters.py
  apps/validations/migrations/0015_validationcore_user.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/UserTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/auth.ts
  poetry.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

user registration fixes, more work on user roles
  apps/core/serializers.py
  apps/core/tests/test_api.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  config/settings/base.py
  frontend/src/components.d.ts
  frontend/src/components/UserForm.vue
  frontend/src/components/UserName.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/auth.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

only show admin stuff to admins
  frontend/src/layouts/default.vue
Due: prettier, eslint

ensure user cannot change his own is_active and is_validator_admin props
  apps/conftest.py
  apps/core/serializers.py
  apps/core/tests/test_api.py
  frontend/src/components/UserEditWidget.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

make counterapi validation viewset create-only
  apps/validations/tasks.py
  apps/validations/views.py
  frontend/src/components/NewCounterAPIValidation.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add typescript check to pre-commit
  .pre-commit-config.yaml
Due: none

add last login to the user management view
  apps/core/serializers.py
  apps/core/tests/test_api.py
  frontend/src/components/DateTooltip.vue
  frontend/src/components/PasswordResetWidget.vue
  frontend/src/components/UserTable.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint
