Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

ruff-format:
  name: ruff formatter
  entry: ruff format
  language: system

ruff:
  name: ruff linter
  entry: ruff check --fix
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

django-migrations:
  name: Check django migrations
  entry: python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

prettier:
  name: Prettier formatter
  entry: bash -c 'cd frontend && yarn prettier --write .'
  language: system
  pass_filenames: false

eslint:
  name: ESLint linter
  stages:
  - pre-push
  - pre-commit
  entry: bash -c 'cd frontend && yarn lint'
  language: system
  pass_filenames: false

chore: bump version to 0.8.1
  frontend/package.json
  pyproject.toml
Due: prettier

rename from validation tool to validator - part 1
  README.rst
  apps/core/templates/registration/password_reset_message.html
  apps/core/templates/registration/password_reset_subject.txt
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/own-instance.rst
  docs/user.rst
  frontend/index.html
  frontend/src/layouts/default.vue
  frontend/src/layouts/public.vue
  frontend/src/pages/about.vue
  frontend/src/pages/index.vue
  frontend/src/pages/settings.vue
  pyproject.toml
  tools/validate_counter_api.py
  tools/validate_file.py
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

rename from validation tool to validator - part 2
  .gitlab-ci.yml
  .gitlab/Dockerfile
  .gitlab/image-howto.md
  README.rst
  config/celery_conf.py
  docs/index.rst
  docs/own-instance.rst
  frontend/package.json
  frontend/src/pages/about.vue
  frontend/src/pages/index.vue
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

refactor: change email notification from admins to operators on user registration and implement async mail task for operators
  apps/core/signals.py
  apps/core/tasks.py
  apps/core/tests/test_api.py
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add daily validation report task for sending daily stats to operators
  apps/core/tasks.py
  config/settings/base.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

feat: enhance daily validation report with user and CoP version statistics
  apps/core/tasks.py
  apps/core/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

update changelog for version 0.9.0
  CHANGELOG.md
Due: none

update python dependencies
  poetry.lock
Due: none

chore: bump version to 0.9.0
  frontend/package.json
  pyproject.toml
Due: prettier

add support for new c5tools api where data are moved from header to reportinfo attr
  apps/validations/tests/test_tasks.py
  apps/validations/validation_module_api.py
  test_data/validation_results/errors.json
  test_data/validation_results/ok-result.json
Due: ruff-format, ruff, pytestnow, django-migrations

update CHANGELOG to reflect changes in validation module interface with `reportinfo` attribute
  CHANGELOG.md
Due: none

feat: add HTML and text templates for daily validation report
  apps/core/tasks.py
  apps/core/templates/core/daily_validation_report.html
  apps/core/templates/core/daily_validation_report.txt
  apps/core/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: make it possible to send operator emails to validator admins
  apps/core/admin.py
  apps/core/fake_data.py
  apps/core/migrations/0003_user_receive_operator_emails.py
  apps/core/models.py
  apps/core/signals.py
  apps/core/tasks.py
  apps/core/tests/test_api.py
  apps/core/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: enhance daily validation report to include validation results with severity levels and corresponding tables in HTML and text formats
  apps/core/tasks.py
  apps/core/templates/core/daily_validation_report.html
  apps/core/templates/core/daily_validation_report.txt
  apps/core/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add email notifications for validation failures and updates in validation tasks
  apps/validations/tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

chore: bump version to 0.10.0
  CHANGELOG.md
  frontend/package.json
  pyproject.toml
Due: prettier

feat: update daily validation report to include links to the validations at hand
  apps/core/tasks.py
  apps/core/templates/core/daily_validation_report.html
  apps/core/tests/test_tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: user reportinfo param instead of header in UI and export; add tests for export content
  apps/validations/export.py
  apps/validations/tests/test_export.py
  apps/validations/tests/test_tasks.py
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/components/ValidationExtractedInfo.vue
  frontend/src/lib/definitions/api.ts
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix: change default value of receive_operator_emails to false
  apps/core/migrations/0003_user_receive_operator_emails.py
  apps/core/models.py
Due: ruff-format, ruff, pytestnow, django-migrations

bump version in RTD up
  docs/conf.py
Due: ruff-format, ruff, pytestnow, django-migrations

fix: update filename format for validation export to include original validated file name - closes #7
  apps/validations/tests/test_export.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

update changelog for version 0.11.0
  CHANGELOG.md
Due: none

bump to version 0.11.0
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

feat: add ValidationDateFilter to filter validations by creation date and implement corresponding tests
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

frontend dependencies update + cleanup
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  frontend/.eslintrc-auto-import.json
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/components.d.ts
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

feature: add support for date filtering to the frontend + make filtering timezone aware
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/package.json
  frontend/src/auto-imports.d.ts
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationFilterSet.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/composables/validationFiltering.ts
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

update python dependencies
  poetry.lock
  pyproject.toml
Due: none

feat: add tooltip for user email with copy functionality to list of all validations
  frontend/src/components/UserName.vue
Due: prettier, eslint

fix: downgrade vite to 6 and use node 24 in gitlab CI to get around a build issue with crypto:hash
  .gitlab/build-vue.yml
  frontend/package.json
  frontend/yarn.lock
Due: prettier

update changelog for 0.12.0
  CHANGELOG.md
Due: none

bump version to 0.12.0 in pyproject.toml, docs, and frontend package.json
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

feat: make date filter clearable
  frontend/src/components/ValidationFilterSet.vue
Due: prettier, eslint

fix: fix core table content not refreshed when text search is cleared
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/composables/paginatedAPI.ts
Due: prettier, eslint

chore: update changelog for version 0.12.1,
  CHANGELOG.md
Due: none

chore: bump version to 0.12.1 in pyproject.toml, docs, and frontend package.json
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

feat: enforce URL length limit of 200 characters in CounterAPIValidationCreateSerializer and add corresponding test case
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add URL validation to CounterAPIValidationCreateSerializer to disallow query parameters and implement corresponding test case
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: enhance notification system to include detailed error messages; show errors in NewCounterAPIValidation component when validaiton fails
  frontend/src/App.vue
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/notifications.ts
Due: prettier, eslint

feat: add URL validation rules to NewCounterAPIValidation component; include checks for valid URLs and disallow query parameters
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/formRules.ts
Due: prettier, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pytestnow: any of: \.py$
  django-migrations: any of: \.py$
  prettier: any of: frontend/.*
  eslint: any of: frontend/.* and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$
