Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

ruff-format:
  name: ruff formatter
  entry: ruff format
  language: system

ruff:
  name: ruff linter
  entry: ruff check --fix
  language: system

pytestnow:
  name: Check that no tests marked with 'now' exist
  entry: '@pytest.mark.now'
  language: pygrep

django-migrations:
  name: Check django migrations
  entry: python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

prettier:
  name: Prettier formatter
  entry: bash -c 'cd frontend && yarn prettier --write .'
  language: system
  pass_filenames: false

eslint:
  name: ESLint linter
  stages:
  - pre-push
  - pre-commit
  entry: bash -c 'cd frontend && yarn lint'
  language: system
  pass_filenames: false

message display wip
  apps/validations/models.py
  apps/validations/tasks.py
  apps/validations/urls.py
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/message.ts
  frontend/src/pages/validation/[id].vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

some refactoring
  frontend/src/components.d.ts
  frontend/src/components/SeverityLevelChip.vue
  frontend/src/components/StatsChip.vue
  frontend/src/components/StatsPie.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/components/ValidationResultChip.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/definitions/api.ts
Due: prettier, eslint

basic stuff for showing message level stats
  apps/validations/models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/lib/datetime.ts
  frontend/src/lib/formatting.ts
  frontend/src/lib/http/message.ts
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add filtering by level to the server-side api, add server side pagination, ordering and filtering support to the frontend
  apps/validations/enums.py
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/composables/paginatedAPI.ts
  frontend/src/lib/http/message.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix ts issues
  frontend/src/components.d.ts
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/composables/paginatedAPI.ts
  frontend/src/lib/http/message.ts
Due: prettier, eslint

collapsible message stats
  frontend/src/components.d.ts
  frontend/src/components/ValidationMessageStatsTable.vue
  frontend/src/components/ValidationMessagesTable.vue
Due: prettier, eslint

more compact message stats display
  frontend/src/components/ValidationMessageStatsTable.vue
  frontend/src/components/ValidationMessagesTable.vue
Due: prettier, eslint

add extracted info to the info tab
  frontend/src/components.d.ts
  frontend/src/components/ValidationExtractedInfo.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

move message stats into a separate tab
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

add component for month-range selection; use to for api validation setup
  frontend/src/components.d.ts
  frontend/src/components/MonthPicker.vue
  frontend/src/components/MonthRangePicker.vue
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

wip on different api endpoints
  apps/validations/migrations/0007_alter_counterapivalidation_requested_begin_date_and_more.py
  apps/validations/models.py
  frontend/src/components/NewCounterAPIValidation.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix error in IsoDateTime.vue formatting
  frontend/src/components/IsoDateTime.vue
Due: prettier, eslint

add platform to credentials; show more info about sushi validations; fix messages pagination issue
  apps/validations/fake_data.py
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  apps/validations/tests/test_validation_core_api.py
  frontend/src/components/MonthPicker.vue
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationExtractedInfo.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/pages/validation/[id].vue
  frontend/src/styles/settings.scss
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

small styling fixes
  frontend/src/styles/settings.scss
Due: prettier

add search filter to messages; add filter from message stats
  apps/validations/filters.py
  apps/validations/views.py
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationMessageStatsTable.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/pages/validation/[id].vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add support for other endpoints
  apps/validations/fake_data.py
  apps/validations/migrations/0007_alter_counterapivalidation_requested_begin_date_and_more.py
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/http/validation.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add silk for debugging
  config/settings/devel.py
  config/urls.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

use exposed method rather than prop to apply filter to messages table; apply severity as well as text
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

use exposed method rather than prop to apply filter to messages table; apply severity as well as text
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

small fixes
  apps/validations/tasks.py
  frontend/src/pages/validation/[id].vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add support for attributes to show; define all c5 reports in counter.ts
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/lib/definitions/counter.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/validation/[id].vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add report info for c5.1
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/lib/definitions/counter.ts
  frontend/src/styles/settings.scss
Due: prettier, eslint

add support for filters
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/components/ValidationExtractedInfo.vue
  frontend/src/lib/definitions/counter.ts
  frontend/src/lib/http/auth.ts
  frontend/src/styles/settings.scss
Due: prettier, eslint

add support for filters
  apps/validations/serializers.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationBasicInfo.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

fix ts stuff
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/api.ts
Due: prettier, eslint

back to entries
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

update js deps; add debounce to message filter
  frontend/package.json
  frontend/src/auto-imports.d.ts
  frontend/src/components/ValidationMessagesTable.vue
  frontend/yarn.lock
Due: prettier, eslint

update js deps II
  frontend/package.json
  frontend/yarn.lock
Due: prettier

remove imports for auto-imported components
  frontend/src/components/StatsPie.vue
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/pages/validation/[id].vue
  frontend/src/pages/validation/api.vue
Due: prettier, eslint

add tooltips to some icons; remove the /validation/ path
  apps/validations/tasks.py
  frontend/src/components/FilePicker.vue
  frontend/src/components/ValidationStatus.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/pages/validation/index.vue
  frontend/src/typed-router.d.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

tweak selection of atts to show and filters
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/styles/settings.scss
Due: prettier, eslint

add support for switches
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

add deleting of validations
  frontend/src/components.d.ts
  frontend/src/components/ValidationManagementWidget.vue
  frontend/src/components/ValidationTable.vue
  frontend/src/lib/http/validation.ts
  frontend/src/pages/index.vue
Due: prettier, eslint

make sure COUNTER API validations are possible via the API, add CLI script to do this
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  tools/utils.py
  tools/validate_counter_api.py
  tools/validate_file.py
Due: ruff-format, ruff, pytestnow, django-migrations

add a stats page with very basic stats
  apps/validations/models.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/src/components.d.ts
  frontend/src/components/StatsCard.vue
  frontend/src/layouts/default.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/stats.vue
  frontend/src/styles/settings.scss
  frontend/src/typed-router.d.ts
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

more efficient stats computation
  apps/validations/models.py
  frontend/src/components/StatsCard.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add time stats
  apps/validations/models.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/package.json
  frontend/src/components/StatsCard.vue
  frontend/src/components/StatsPie.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/settings.vue
  frontend/src/pages/stats.vue
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

add support for "split stats"
  apps/validations/enums.py
  apps/validations/models.py
  apps/validations/tests/test_validation_core_api.py
  apps/validations/views.py
  frontend/package.json
  frontend/src/components.d.ts
  frontend/src/components/BarChart.vue
  frontend/src/components/DoughnutChart.vue
  frontend/src/components/SplitStatsVisualization.vue
  frontend/src/lib/definitions/api.ts
  frontend/src/lib/http/validation.ts
  frontend/src/pages/stats.vue
  frontend/yarn.lock
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

split stats by cop and report code
  apps/validations/migrations/0008_alter_validationcore_validation_result_and_more.py
  apps/validations/models.py
  apps/validations/tests/test_validation_core_api.py
  frontend/src/components/SplitStatsVisualization.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

switch from dataframe-js to data-forge; fix ts issues
  frontend/package.json
  frontend/src/components/BarChart.vue
  frontend/src/components/SplitStatsVisualization.vue
  frontend/src/pages/stats.vue
  frontend/yarn.lock
Due: prettier, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pytestnow: any of: \.py$
  django-migrations: any of: \.py$
  prettier: any of: frontend/.*
  eslint: any of: frontend/.* and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.vue$
