Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-push, pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff
        name: ruff linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

      - id: django-migrations
        name: Check django migrations
        entry: python manage.py makemigrations --check --no-input
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: Prettier formatter
        entry: bash -c 'cd frontend && yarn prettier --write .'
        language: system
        files: frontend/.*
        pass_filenames: false

      - id: eslint
        name: ESLint linter
        stages: [pre-push, pre-commit]
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        types_or: [javascript, ts, vue]
        files: frontend/.*
        pass_filenames: false

chore: update changelog for version 0.12.2,
  CHANGELOG.md
Due: none

chore: bump version to 0.12.2 in pyproject.toml, docs, and frontend package.json
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

add some basic cursor rules
  .cursor/rules/code-structure.mdc
  .cursor/rules/testing.mdc
Due: none

feat: update validation expiration logic to use PUBLIC_VALIDATION_LIFETIME on publish and reset to VALIDATION_LIFETIME on unpublish; add corresponding tests
  apps/validations/models.py
  apps/validations/tests/test_validation_api.py
  config/settings/base.py
Due: ruff-format, ruff, pytestnow, django-migrations

update expiration date in UI on publish/unpublish
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

switch validation module path for COUNTER API from sushi.php to api.php for compatibility with the latest c5tools
  apps/validations/tasks.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

docs: update c5tool package reference to include link to separate repository
  docs/development.rst
Due: none

chore: update CHANGELOG.md for 0.13.0 release
  CHANGELOG.md
Due: none

chore: bump version to 0.13.0 in pyproject.toml, frontend package.json, and documentation
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

update python packages
  poetry.lock
Due: none

update django to 5.2.8 to fix security vulnerabilities + update other python deps
  poetry.lock
  pyproject.toml
Due: none

increate report_code allowed length to accommodate custom report codes
  apps/validations/migrations/0018_alter_validationcore_report_code.py
  apps/validations/models.py
Due: ruff-format, ruff, pytestnow, django-migrations

update js deps
  frontend/package.json
  frontend/yarn.lock
Due: prettier

fix ts check errors after update
  frontend/src/components/StatsChip.vue
  frontend/src/components/StatsPie.vue
  frontend/src/router/index.ts
Due: prettier, eslint

fix tab display in validation detail widget
  frontend/src/components/ValidationDetailWidget.vue
Due: prettier, eslint

bump version to 0.13.1 and update python deps
  frontend/package.json
  poetry.lock
  pyproject.toml
Due: prettier

update python dependencies
  poetry.lock
Due: none

update changelog for version 0.14.0
  CHANGELOG.md
Due: none

add CONTRIBUTORS file
  CONTRIBUTORS
Due: none

fix: explicitly allow registration in registration tests
  apps/core/tests/test_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

chore: improve tests for registration to test both setups
  apps/core/tests/test_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

update .vscode settings to use poetry
  .vscode/settings.json
Due: none

bump version to 0.14.0
  docs/conf.py
  frontend/package.json
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations, prettier

fix: fix curl example in docs when uploading a file
  docs/api.rst
Due: none

fix: fix api documentation sample output
  docs/api.rst
Due: none

docs: make it clearer what the temporary validation result is during processing
  docs/api.rst
Due: none

chore: port CI from Gitlab to Github Actions (#13)
  .github/workflows/frontend.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
Due: none

fix: correct COUNTER API path in docs and test documented endpoints (#15)
  CHANGELOG.md
  apps/validations/tests/test_api_docs.py
  docs/api.rst
Due: ruff-format, ruff, pytestnow, django-migrations
