Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-push, pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff
        name: ruff linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

      - id: django-migrations
        name: Check django migrations
        entry: python manage.py makemigrations --check --no-input
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: Prettier formatter
        entry: bash -c 'cd frontend && yarn prettier --write .'
        language: system
        files: frontend/.*
        pass_filenames: false

      - id: eslint
        name: ESLint linter
        stages: [pre-push, pre-commit]
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        types_or: [javascript, ts, vue]
        files: frontend/.*
        pass_filenames: false

Enhance validation task logging and handle potential null values for cop_version and report_code
  apps/validations/tasks.py
Due: ruff-format, ruff, pytestnow, django-migrations

Improve error handling in validation task and update frontend to conditionally display statistics tab based on validation status
  apps/validations/tasks.py
  apps/validations/tests/test_tasks.py
  frontend/src/components/ValidationDetailWidget.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

Add full_url property to validation models and serializers; update frontend to display validated URL button
  apps/validations/models.py
  apps/validations/serializers.py
  apps/validations/tasks.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationBasicInfo.vue
  frontend/src/lib/definitions/api.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

Implement error handling for 404 responses in validation tables; reset page to 1 if page number exceeds 1 on error
  frontend/src/components/ValidationCoreTable.vue
  frontend/src/components/ValidationMessagesTable.vue
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

add forgotten Data_Type filter to C5.1 reports
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

by default select the Include_Parent_Details flag
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

Update ValidationExtractedInfo component to conditionally render fields based on validation result data; modify API type to allow null result_data.
  frontend/src/components/ValidationExtractedInfo.vue
  frontend/src/lib/definitions/api.ts
Due: prettier, eslint

make sure platform abbreviation is shown and used for searching when creating new API validation
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

fix typescript error in custom filter function
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

do not show extracted info for api endpoints which do not contain any extracted data
  frontend/src/components/ValidationDetailWidget.vue
Due: prettier, eslint

Update min-width of Shared filter in ValidationFilterSet component.
  frontend/src/components/ValidationFilterSet.vue
Due: prettier, eslint

fix how COUNTER API validation wizard deals with endpoints not requiring credentials and switching of selected CoP
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

bump version to 0.5.0
  frontend/package.json
  pyproject.toml
Due: prettier

update changelog for 0.5.0; add link to changelog to public footer and the About page; add dates to changelog
  CHANGELOG.md
  frontend/src/components/ChangelogWidget.vue
  frontend/src/layouts/public.vue
  frontend/src/pages/about.vue
Due: prettier, eslint

allow null in the credentials field - enforce customer_id when credentials are present
  apps/validations/migrations/0017_alter_counterapivalidation_credentials.py
  apps/validations/models.py
  apps/validations/serializers.py
Due: ruff-format, ruff, pytestnow, django-migrations

add vite preloadError handler to force page reload on issues
  frontend/src/main.ts
Due: prettier, eslint

use info from the COUNTER Registry to display hints about required credentials attrs
  frontend/src/components.d.ts
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/pages/validation/api.vue
Due: prettier, eslint

do not place ? at the end of used url when no query params are used
  apps/validations/models.py
Due: ruff-format, ruff, pytestnow, django-migrations

enhance validation page with back navigation button
  frontend/src/components/ValidationDetailWidget.vue
  frontend/src/pages/validation/[id].vue
Due: prettier, eslint

update changelog for version 0.6.0
  CHANGELOG.md
Due: none

bump version to 0.6.0 in pyproject.toml and package.json
  frontend/package.json
  pyproject.toml
Due: prettier

make sure access to validation detail endpoint works correctly using API key
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

add forgotten file
  frontend/src/components/TextFieldWithColorHint.vue
Due: prettier, eslint

add vscode settings
  .vscode/launch.json
  .vscode/settings.json
Due: none

update HeaderSerializer to allow blank and null values for fields
  apps/validations/validation_module_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

Refine ValidationSearchFilter to apply user field filters only in list_all view
  apps/validations/filters.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

update CHANGELOG for version 0.6.1
  CHANGELOG.md
Due: none

bump version to 0.6.1 in pyproject.toml and package.json
  frontend/package.json
  pyproject.toml
Due: prettier

add Sphinx basic setup
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

add basic API docs
  .gitignore
  docs/api.rst
  docs/index.rst
Due: none

Update ValidationMessageViewSet to require allow API key authentication
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

replace README.md with README.rst
  README.md
  README.rst
Due: none

Add validation messages endpoint documentation to API reference
  docs/api.rst
Due: none

Update CHANGELOG for version 0.6.2
  CHANGELOG.md
Due: none

bump version to 0.6.2 in pyproject.toml and package.json
  frontend/package.json
  pyproject.toml
Due: prettier

fix error in combining API base-URL with a path with API path
  apps/validations/models.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

update changelog for 0.6.3
  CHANGELOG.md
Due: none

bump version to 0.6.3
  frontend/package.json
  pyproject.toml
Due: prettier

add readthedocs related files
  .readthedocs.yaml
  docs/requirements.txt
Due: none

fix rtd config file
  .readthedocs.yaml
  docs/conf.py
Due: ruff-format, ruff, pytestnow, django-migrations
