Repository Project-Counter/counter-validator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-push, pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.(tsv|json|svg)'
      - id: end-of-file-fixer
        exclude: '^.*\.(tsv|json|svg)'
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff formatter
        entry: ruff format
        language: system
        types: [python]

      - id: ruff
        name: ruff linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytestnow
        name: Check that no tests marked with 'now' exist
        entry: "@pytest.mark.now"
        language: pygrep
        types: [python]

      - id: django-migrations
        name: Check django migrations
        entry: python manage.py makemigrations --check --no-input
        language: system
        types: [python]
        pass_filenames: false

      - id: prettier
        name: Prettier formatter
        entry: bash -c 'cd frontend && yarn prettier --write .'
        language: system
        files: frontend/.*
        pass_filenames: false

      - id: eslint
        name: ESLint linter
        stages: [pre-push, pre-commit]
        entry: bash -c 'cd frontend && yarn lint'
        language: system
        types_or: [javascript, ts, vue]
        files: frontend/.*
        pass_filenames: false

update python dependencies
  apps/counter/tests/test_registry.py
  apps/validations/tests/test_models.py
  apps/validations/tests/test_tasks.py
  apps/validations/tests/test_validation_api.py
  apps/validations/validation_module_api.py
  poetry.lock
  pyproject.toml
Due: ruff-format, ruff, pytestnow, django-migrations

add link to readthedocs to the about page
  frontend/src/pages/about.vue
Due: prettier, eslint

fix: copy platform attribute when repeating validation
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

update vscode settings
  .vscode/settings.json
Due: none

fix: adjust end date to the end of the month in validation API - closes #2
  frontend/src/lib/http/validation.ts
Due: prettier, eslint

fix: add autofocus to first name field in signup dialog and remove from email field - closes #1
  frontend/src/components/SignupDialog.vue
Due: prettier, eslint

update changelog for version 0.6.4
  CHANGELOG.md
Due: none

bump version to 0.6.4
  frontend/package.json
  pyproject.toml
Due: prettier

enhance documentation: add stubs for user guide and instructions for running a local instance
  docs/api.rst
  docs/index.rst
  docs/own-instance.rst
  docs/user.rst
Due: none

configure vite to build for better compatibility with older browsers
  frontend/package.json
  frontend/src/components.d.ts
  frontend/vite.config.mts
  frontend/yarn.lock
Due: prettier, eslint

fix: remove Data_Type from C5.1 attributes_to_show by introducing separate attributes and filters lists
  frontend/src/components/NewCounterAPIValidation.vue
  frontend/src/lib/definitions/counter.ts
Due: prettier, eslint

refactor: standardize naming for COUNTER API across validation files and tests
  apps/validations/export.py
  apps/validations/models.py
  apps/validations/tests/test_tasks.py
  apps/validations/validation_module_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add Apache License 2.0 to the project
  LICENSE
  README.rst
Due: none

fix: conditionally render tooltip in ValidationTable based on stats availability
  frontend/src/components/ValidationTable.vue
Due: prettier, eslint

fix: use parseISO for date parsing in handleBaseValidation to ensure correct date format
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

chore: update CHANGELOG for version 0.6.5
  CHANGELOG.md
Due: none

chore: bump version to 0.6.5
  frontend/package.json
  pyproject.toml
Due: prettier

fix: update header label from "Switches" to "Report attributes" in NewCounterAPIValidation component
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

feat: add granularity selection to NewCounterAPIValidation component
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

fix: make sure all attributes to show are selected by default even when CoP version and credentials are changed
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

chore: update CHANGELOG for version 0.7.0 with new features and fixes
  CHANGELOG.md
Due: none

chore: bump version to 0.7.0 in pyproject.toml and package.json
  frontend/package.json
  pyproject.toml
Due: prettier

feat: add COUNTER API validation endpoint documentation with attributes and example usage
  docs/api.rst
Due: none

docs: update README and add development documentation; change application status to beta
  README.rst
  docs/development.rst
  docs/index.rst
Due: none

fix: handle absence of credentials in validation export by adding a default message
  apps/validations/export.py
  apps/validations/tests/test_validation_api.py
Due: ruff-format, ruff, pytestnow, django-migrations

docs: update CHANGELOG for version 0.7.1
  CHANGELOG.md
Due: none

chore: bump version to 0.7.1 in pyproject.toml and package.json
  frontend/package.json
  pyproject.toml
Due: prettier

chore: update application URLs to point to the new validator instance at countermetrics.org
  README.rst
  apps/core/version.py
  docs/api.rst
  docs/index.rst
  docs/own-instance.rst
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add button for navigating to validations page for logged-in users on the login page
  frontend/src/pages/login.vue
Due: prettier, eslint

feat: enhance validation message access control for admin users
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
Due: ruff-format, ruff, pytestnow, django-migrations

feat: add bug reporting alert to the about page
  frontend/src/pages/about.vue
Due: prettier, eslint

feat: limit validation list pagination to a maximum of 100 items per page and update Vuetify data table options to reflect it
  apps/validations/tests/test_validation_api.py
  apps/validations/views.py
  frontend/src/plugins/vuetify.ts
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

feat: update about page to indicate beta version of COUNTER Validation Tool and request bug reports
  frontend/src/pages/about.vue
Due: prettier, eslint

chore: update CHANGELOG for version 0.8.0
  CHANGELOG.md
Due: none

update python requirements
  poetry.lock
Due: none

chore: bump version to 0.8.0
  frontend/package.json
  pyproject.toml
Due: prettier

fix: update default CoP version from 5 to 5.1 in NewCounterAPIValidation component
  frontend/src/components/NewCounterAPIValidation.vue
Due: prettier, eslint

fix: restrict exposure of full URL in public validations and update related tests
  apps/validations/serializers.py
  apps/validations/tests/test_validation_api.py
  frontend/src/components/ValidationBasicInfo.vue
Due: ruff-format, ruff, pytestnow, django-migrations, prettier, eslint

feat: update COUNTER Code of Practice link and add API validation feature to the index page
  frontend/src/pages/index.vue
Due: prettier, eslint

chore: update CHANGELOG for version 0.8.1
  CHANGELOG.md
Due: none
